{% extends 'front/base.html.twig' %}

{% block title %}Espace Enseignant{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Welcome Enseignant</h1>
    <p>This is a blank page for ROLE_ENSEIGNANT.</p>
</div>
{% endblock %}
